exportPattern("^[[:alpha:]]+")
importFrom(kohonen, somgrid)
importFrom(kohonen, som)
importFrom(kohonen, unit.distances)
importFrom(kohonen, object.distances)
importFrom(scales, rescale)
importFrom(viridis, viridis)
importFrom(ggforce, geom_circle)
importFrom(ggrepl, geom_text_repl)
import(ggplot2)
import(dplyr)
import(tidyr)
